.flexbox {
	display: flex;

}

#logo_img {
	border: none;
	height: 7vh;
	width: 17vw;
	border-radius: 20px;
}

#logo_a {
	text-align: center;
	height: 7vh;
	width: 17vw;
}

.top_header {
	width: 100%;
}

#top_div{
	background-color: #5a43bf;
	justify-content: space-between;
	align-content: center;
	flex-direction: row;
}

#main_page_logo{
	font-weight: bold;
	margin-right: 5%;
}

#promo_main_page{
	font-weight: bold;
	color: #e83535;
	margin-left: 10px;
}

#register_buttons{
	display: flex;
	justify-content: center;
	align-content: center;
}

#shopping_cart:before {
	content: "\f07a";
   	font-family: FontAwesome;
   	margin-right: 10px;
}

.container {
	margin-top: 2%;
}

.footer_contact_us {
	margin-top: 3vh;
    position: fixed;
    bottom: 0;
}

#contact_us{
	font-weight: bold;
}
