. {
    box-sizing: border-box;
}

.topmenu a {
	display: block;
	text-decoration: none;
	outline: none;
	transition: .3s ease-in-out;
}

#catalog-nav {
	display: table;
	margin: 0;
}

#catalog-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.topmenu:after {
  content: "";
  display: table;
  clear: both;
}

.topmenu > li {
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.topmenu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #D5B45B;
  padding: 15px 30px;
  text-decoration: none;
  margin-top: 6%;
}

.topmenu li a:hover {
    color: #ffffff;
}

#submenu-link:after {
  content: "\f107";
  font-family: "Palatino Linotype";
  color: inherit;
  margin-left: 10px;
}

.submenu {
  background: #ccc539;
  position: absolute;
  border-radius: 5px;
  left: 1vw;
  top: 100%;
  z-index: 5;
  width: 8vw;
  opacity: 0;
  transform: scaleY(0);
  transform-origin :0 0;
  transition: .5s ease-in-out;
}

.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 1px solid rgba(255,255,255,.1);
}

.submenu > li > a {
	text-decoration: none;
}

.submenu > li > a:hover {
	color: #177528;
}

.submenu li:last-child a {
    border-bottom: none;
}

.topmenu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}
