html,body{
height: 100%
}

.flexbox{
	display: flex;
}

header{
	width: 100vw;
}

#top{
	background-color: #f8f9fa;
	justify-content: space-between;
	align-content: center;
	flex-direction: row;
}

#mission_logo{
	font-weight: bold;
	margin-right: 5%;
}

#promo{
	font-weight: bold;
	color: #d5d1cf;
	margin-left: 10px;
}

.center_text{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.center_text > span{
	display: block;
}

#greetings{
    font-weight: bold;
}

*{
	font-family: Arial;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#contact_us{
	width: 20%;
	font-weight: bold;
	justify-content: space-between;
}

#podborka_table{
	width: 80%;
	cellpadding: 1px;
}

#podborka_caption{
	caption-side: top;
	text-align: center;
	font-size: 40px;
}

.podborka_img{
	width: 80%;
}
