{% extends "base.html" %}

{% block css_link %}
    <link rel='stylesheet' href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}


{% block content %}
    <div>
		<h2 id="product_title">{{ Category }}</h2>
	</div>

	<div id='log_container'>
        {% if current_user.is_authenticated and current_user.is_seller %}
			<div id="button_add_product"><a class='btn btn-secondary' href="/add_product">Add Product</a></div>
		{% endif %}
        {% for product in data %}
		    <div>
			    <table>
				    <tr class='header_row'>
					    <th class='column_10'>Title</th>
					    <th>Description</th>
					    <th class='column_15'>Price</th>
					    <th>Categories</th>
				    </tr>
				    <tr>
					    <td>{{product.title}}</td>
					    <td>{{product.description}}</td>
					    <td>{{product.price}}</td>
					    <td>
							{% for category in product.categories %}
								{{category}} {% if not loop.last %}, {% endif %}
							{% endfor %}
						</td>
				    </tr>
			    </table>
                {% if current_user.is_authenticated %}
                    <div>
                        <a href="/add_to_cart/{{ product.id }}" class="btn btn-success">
                            Добавить в корзину
                        </a>
                        {% if current_user.is_seller %}
        				    <a href="/change_product/{{ product.id }}" class="btn btn-warning">
            				    Изменить
        				    </a>
        				    <a href="/delete_product/{{ product.id }}" class="btn btn-danger">
            				    Удалить
        				    </a>
                        {% endif %}
                    </div>
                {% endif %}
		    </div>
        {% endfor %}
	</div>

{% endblock %}