{% extends "index.html" %}

{% block content %}
    <table id="podborka_table" align="center">
        <caption id="podborka_caption">Products of the day</caption>
        {% for i in range(3) %}
            <tr>
                <td class="podborka_cells"><img src="../static/img/ikonka.jpg" class="podborka_img"></td>
                <td class="podborka_cells"><img src="../static/img/ikonka.jpg" class="podborka_img"></td>
                <td class="podborka_cells"><img src="../static/img/ikonka.jpg" class="podborka_img"></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}