{% extends "index.html" %}

{% block content %}
    <form>
        <div>
            <label>Псевдоним</label>
            <input type="text">
        </div>
        <div>
            <label>Элекстронная почта</label>
            <input type="email">
        </div>
        <div>
            <label>Пароль</label>
            <input type="password">
        </div>
        <div>
            <label>Повторите пароль</label>
            <input type="password">
        </div>
    </form>
{% endblock %}
